<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="countdown-timer">

    <style>
        :host * {box-sizing: border-box;}

        :host {
            @apply(--layout-vertical);
            @apply(--layout-center-center);
        }

        h1 {
            text-align: center;
        }

        .back-button {
            position: absolute;
            top: 15px;
            left: 15px;
        }

        .info {
            position: absolute;
            width: 70%;
            margin: 0 auto;
            padding: 16px;
            bottom: 13px;
            left: 0;
            right: 0;
            text-align: center;
            background-color: whitesmoke;
        }

        paper-button {
            background: lightgrey;
        }

    </style>

    <template>
        <paper-icon-button class="back-button" icon="arrow-back" on-click="_cancel"></paper-icon-button>
        <div class="timer-page-content">
            <h1>This computer will <span>[[operation]]</span> in...</h1>
            <h1>[[_secondsToClock(secondsLeft)]]</h1>
        </div>
        <paper-material class="info">
            <iron-icon icon="icons:info-outline"></iron-icon> Going back or closing the app will cancel the timer.
        </paper-material>
    </template>

    <script>
        Polymer({
            is: 'countdown-timer',

            properties: {
                operation: {},
                primaryColor: {observer: '_primaryColorChanged'},
                secondsLeft: {}
            },

            start: function(seconds) {

            },

            _cancel: function() {
                this.fire('cancel');
            },

            _secondsToClock: function(seconds) {
                var hours, minutes;
                hours = Math.floor(seconds / 3600);
                seconds = seconds - hours * 3600;
                minutes = Math.floor(seconds / 60);
                seconds = seconds - minutes * 60;
                return hours + ':' + this._pad(minutes) + ':' + this._pad(seconds);
            },

            _pad: function(num) {
                return ("00" + num).slice(-2);
            },

            _primaryColorChanged: function() {
                this.style.backgroundColor = this.primaryColor;
            }
        });
    </script>

</dom-module>