<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="countdown-timer">

    <style>
        :host * {box-sizing: border-box;}

        :host {
            @apply(--layout-vertical);
            @apply(--layout-center-center);
        }

        h1 {
            text-align: center;
        }

        .back-button {
            position: absolute;
            top: 15px;
            left: 15px;
        }

        paper-button {
            background: lightgrey;
        }

    </style>

    <template>
        <paper-icon-button class="back-button" icon="arrow-back" on-click="_cancel"></paper-icon-button>
        <div class="timer-page-content">
            <h1>This computer will <span>[[operation]]</span> in...</h1>
            <h1>[[_secondsToClock(secondsLeft)]]</h1>
        </div>
    </template>

    <script>
        Polymer({
            is: 'countdown-timer',

            properties: {
                operation: {},
                primaryColor: {observer: '_primaryColorChanged'},
                secondsLeft: {}
            },

            start: function(seconds) {

            },

            _cancel: function() {
                this.fire('cancel');
            },

            _secondsToClock: function(seconds) {
                var minutes = Math.floor(seconds / 60);
                var remainder = seconds - minutes * 60;
                return minutes + ':' + ("00" + remainder).slice(-2);
            },

            _primaryColorChanged: function() {
                this.style.backgroundColor = this.primaryColor;
            }
        });
    </script>

</dom-module>